<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hang-A-Friend, create, share, play, hangman</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A super fun social hangman game where you can create the puzzles, share them with friends, and solve many created all around the World">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<?php require_once $path . '/template/partial/analytics.phtml' ?>

<?php require_once $path . '/template/partial/header.phtml' ?>

<?php echo $_SESSION['game']->getMessage()?>

<?php if (!$_SESSION['game']->isError()) : ?>

    <div class="container">
        <h1 class="text-center">

            <?php echo $_SESSION['game']->getPuzzle()?><br>

            <small><?php echo $_SESSION['game']->getHint()?></small>
        </h1>
    </div>
    <hr>

    <div class="container">
        <form action="/" method="post" class="form-inline text-center">
            <div class="form-group">

                <h1><?php echo $_SESSION['game']->getKeyboard()?></h1>

            </div>
        </form>
    </div>
    <hr>

<?php endif ?>

<form action="/" method="post" class="form-group text-center">
    <input type="submit" name="reset" value="Reset Game" class="btn btn-warning btn-sm" />
    <input type="submit" name="new" value="New Game" class="btn btn-primary btn-sm" />
    <input type="submit" name="create" value="Create Game" class="btn btn-primary btn-sm" />
</form>

<?php if (!$_SESSION['game']->isError()) : ?>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Leaderboard</h3>
            </div>
            <div class="panel-body">

                <?php echo $_SESSION['game']->getLeaderboard($db)?>

            </div>
        </div>
    </div>

    <div class="container text-center">
        <h4>Share this game with a friend!</h4>
        <div class="well well-sm">
            <p>
                <a href="<?php echo $_SESSION['facebook']->getShareURL($_SESSION['game']->getId())?>" class="btn btn-primary">Share on Facebook</a>
                <a href="<?php echo $_SESSION['twitter']->getTweetURL($_SESSION['game']->getId(), $_SESSION['game']->getWord(), $_SESSION['game']->getHint())?>" class="btn btn-info">Share on Twitter</a>
                <a href="/?share=email" class="btn btn-default">Share via Email</a>
            </p>
            <?php echo $protocol?>://hangafriend.com/?id=<?php echo $_SESSION['game']->getId()?>
        </div>
    </div>

<?php endif ?>

<?php require_once $path . '/template/partial/footer.phtml' ?>

</body>
</html>
