<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hang-A-Friend, create, share, play, hangman</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A super fun social hangman game where you can create the puzzles, share them with friends, and solve many created all around the World">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<?php require_once $path . '/template/partial/analytics.phtml' ?>

<header>
    <div class="jumbotron">
        <h1 class="text-center">Hang-A-Friend<br><small>(Beta)</small></h1>
        <p class="text-center">Create, Share, Play</p>
    </div>
</header>

<div class="container">
    <div class="text-center">
        <a href="<?php echo $_SESSION['facebook']->getLoginURL()?>" class="btn btn-primary btn-lg">Login with Facebook</a>
    </div>
</div>

<?php require_once $path . '/template/partial/footer.phtml' ?>

</body>
</html>
