<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hang-A-Friend, create, share, play, hangman</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A super fun social hangman game where you can create the puzzles, share them with friends, and solve many created all around the World">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<?php require_once $path . '/template/partial/analytics.phtml' ?>

<?php require_once $path . '/template/partial/header.phtml' ?>

<?php echo $_SESSION['game']->getMessage()?>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Share via Email</h3>
        </div>
        <div class="panel-body">
            <form action="/" method="post" class="text-center">
                <div class="form-group">
                    <input type="email" name="email[]" maxlength="255" class="form-control" placeholder="Please enter an email address" />
                </div>
                <div class="form-group">
                    <input type="email" name="email[]" maxlength="255" class="form-control" placeholder="Please enter an email address" />
                </div>
                <div class="form-group">
                    <input type="email" name="email[]" maxlength="255" class="form-control" placeholder="Please enter an email address" />
                </div>
                <div class="form-group">
                    <input type="email" name="email[]" maxlength="255" class="form-control" placeholder="Please enter an email address" />
                </div>
                <div class="form-group">
                    <input type="email" name="email[]" maxlength="255" class="form-control" placeholder="Please enter an email address" />
                </div>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-warning btn-sm" />
                <input type="submit" value="Send" class="btn btn-primary btn-sm" />
            </form>
        </div>
    </div>
</div>

<?php require_once $path . '/template/partial/footer.phtml' ?>

</body>
</html>
