<header>
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h3>
                        <img src="<?php echo $protocol?>://graph.facebook.com/<?php echo $_SESSION['game']->getUser()->getId()?>/picture" />

                        <?php echo $_SESSION['game']->getUser()->getName()?><br>

                        <form action="/" method="post">
                            <small>
                                <input type="submit" name="logout" value="Logout" class="btn btn-default btn-xs" />
                            </small>
                        </form>
                    </h3>
                </div>
                <div class="hidden-xs col-sm-6">
                    <h1 class="text-center">Hang-A-Friend</h1>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3 class="text-right">
                        <span class="text-muted">Guesses:</span> <?php echo $_SESSION['game']->getGuesses()?><br>
                        <span class="text-muted">Score:</span> <?php echo $_SESSION['game']->getScore()->getScore()?>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>
